<div class="row">
	<div class="col-md-12">
		
		<h1>{{ bem_vindo }}</h1>

		<h3>Listagem de pessoas</h3>

		<label for="query">Buscar por:</label>
		<input type="text" ng-model="query" id="query" />

		<label for="order">Ordenar por</label>
		<select ng-model="order" id="order">
			<option value="nome">Nome</option>
			<option value="idade">Idade</option>
		</select>


		<p>Total de pessoas cadastradas {{ pessoas.length }}</p>

		<ul>
			<li ng-repeat="(chave, pessoa) in pessoas | filter:query | orderBy:order">
				<a href="#/pessoa/{{chave}}">{{ pessoa.nome }}, {{ pessoa.idade }}</a>
			</li>			
		</ul>

		<h3>Lista de imagens da API do Flickr</h3>

		<label for="query">Buscar por:</label>
		<input type="text" ng-model="tag" id="tag" />

		<ul>
			<li ng-repeat="imagem in imagens | filter:tag">
				<p>{{imagem.title}}</p>
				<a href="{{ imagem.url_m }}" target="_blank">
					<img src="{{imagem.url_t}}" />
				</a>
			</li>
		</ul>
		
	</div>
</div>